<html>
	<head><title>Don't You (Forget About Me)</title></head>
	<body style="background-color:#00233c;">
		<center><h2 style="color:#F0F0F0;">Screws fall out all the time, the world is an imperfect place</h2></center>
                </br></br>
                <center>
			<img width="300px", height="auto", src=static/post-it.jpg></img></br></br>

		<h3 style="color:#E0E0E0;">Vice-Principal Vernon took the  post-it with my password!  How Rude!</br></br>

		Luckily, I left a copy around here somewhere!  But I broke it into pieces!</br>
		
		I thought I heard singing...."I'll put us back together...."</h3></br></br>

		<img width="200px", height="auto", src=static/breakfast-club-punch-judd-nelson.gif></img>

		</center>













































































	                <!-- You found the first part, one down, two to go -->
                        <!-- 8Y_0b5cur1tY_ ->>

	</body>
</html>












































































		<!-- You found the first part, one down, two to go -->
			<!-- 8Y_0b5cur1tY_ ->>
	</body>
</html>
		


